{% extends 'base.html.twig' %}

{% block title %}Создание пользователя{% endblock %}
{% block header %} {% include 'security/header.html.twig' %} {% endblock header %}
 {% block stylesheets %}

     <link href="{{ asset('build/styles.css') }}" rel="stylesheet"/>

 {% endblock %}

{% block javascripts %}

        <script src="{{asset('build/runtime.js') }}" ></script>
        <script src="{{asset('build/app.js') }}"></script>
        <script type="text/javascript" src="{{ asset('build/app.js')}}"  ></script>

{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center">

    {{ include('user/_formusercreate.html.twig') }}
    </form>
    </div>

    </body>


{% endblock %}